body {
  font-family: "Roboto", sans-serif;
  background-color: #f5f5f5;
  color: #333;
  margin: 0;
  padding: 20px;
  line-height: 1.6;
}

.post-list {
  list-style: none;
  padding: 0;
  max-width: 800px;
  margin: 0 auto;
}

.post-list-item {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  padding: 20px;
  transition: transform 0.2s ease-in-out;
}

.post-list-item:hover {
  transform: translateY(-5px);
}

.post-title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 10px;
  color: #333;
  cursor: pointer;
}

.post-text {
  font-size: 1rem;
  color: #555;
}

.show-comments,
.hide-comments,
.add-new-comment-button {
  display: inline-block;
  background-color: #007bff;
  color: #fff;
  padding: 8px 12px;
  border-radius: 5px;
  text-decoration: none;
  margin-top: 10px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  border-color: unset;
}

.show-comments:hover,
.hide-comments:hover,
.add-new-comment-button:hover {
  background-color: #0056b3;
}

.comment-section {
  background-color: #f0f0f0;
  border-radius: 8px;
  padding: 15px;
  margin-top: 15px;
}

.comment {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.comment:last-child {
  border-bottom: none;
}

.comment-author {
  font-weight: bold;
  margin-bottom: 5px;
}

.comment-email {
  font-style: italic;
  color: #777;
  margin-bottom: 5px;
}

.comment-text {
  font-size: 0.9rem;
  color: #444;
}

.comment-form-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 15px;
}

.comment-author-input,
.comment-email-input,
.comment-body-input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.submit-comment-button {
  align-self: flex-start;
  background-color: #28a745;
  color: #fff;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.submit-comment-button:hover {
  background-color: #218838;
}

#search {
  display: block;
  width: 100%;
  max-width: 600px;
  margin: 20px auto 40px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.hide {
  display: none;
}

.submit-button-disabled {
  display: none;
}
